body{
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header{
    display: flex;
    background-color: rgb(9, 9, 76);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
    text-align: end;
    justify-content: space-between;
    margin: 20px;
}

.body{
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(55, 120, 160) ;
    color: white;
    flex-direction: column;
    text-align: center;
    justify-content: center ;
    align-items: center;
    padding: 10px;
    margin-top: auto;
    height: 400px;
}
 
@media screen and (max-width: 500px) {
    #Features {
     flex-direction: column;
   }
 }
    
#Features{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    height: 500px;
}

.F1{
    width: 25%;
    background-color: rgb(184, 182, 182);
    padding: 10px;
}
.F2{
    width: 25%;
    background-color: rgb(184, 182, 182);
    padding: 10px;
}
.F3{
    width: 25%;
    background-color: rgb(184, 182, 182);
    padding: 10px;
}

.AU{
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 10px;
    flex-wrap: wrap;
    height: 500px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center; 
    padding: 10px;
}
.br{
    display: flex;
    color: rgb(27, 147, 177);
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.em{
    color: rgb(27, 147, 177);
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
p{
    font-size: larger;
}
h1{
    font-size: xx-large;
}

.bts{
    width: 60%;
    height: 40px;
    border-radius: 5px;
}

@media screen and (max-width: 500px) {
    .header{
        float: none;
        display: block;
        text-align: left;
    }
}